{% extends "base.html" %}

{% block content %}
<div class="container page-content">
    <h1>Sobre Nós</h1>
    <p>Bem-vindo à Allana Joias, onde a elegância e a qualidade se encontram. Somos apaixonados por criar peças que celebram momentos especiais e realçam a beleza individual.</p>
    <p>Com anos de experiência no mercado de joias, nossa missão é oferecer produtos de alta qualidade, design exclusivo e um atendimento excepcional aos nossos clientes.</p>
    <p>Acreditamos que cada joia conta uma história. Convidamos você a explorar nossa coleção e encontrar a peça perfeita que ressoa com a sua.</p>
</div>
{% endblock %}