{% extends "base.html" %}

{% block content %}
<div class="container page-content">
    <h1>Política de Privacidade</h1>
    <p>A sua privacidade é de extrema importância para a Allana Joias. Esta política de privacidade descreve como coletamos, usamos e protegemos suas informações pessoais.</p>
    <h2>Coleta de Informações:</h2>
    <p>Coletamos informações quando você se cadastra em nosso site, faz um pedido, assina nossa newsletter ou interage com nossos serviços. Isso pode incluir seu nome, endereço de e-mail, endereço de entrega, número de telefone e informações de pagamento.</p>
    <h2>Uso das Informações:</h2>
    <p>As informações coletadas são usadas para processar suas transações, personalizar sua experiência, melhorar nosso site, enviar e-mails periódicos sobre pedidos ou promoções, e fornecer suporte ao cliente.</p>
    <h2>Proteção das Informações:</h2>
    <p>Implementamos uma variedade de medidas de segurança para manter a segurança de suas informações pessoais quando você faz um pedido ou insere, envia ou acessa suas informações pessoais.</p>
    <h2>Compartilhamento com Terceiros:</h2>
    <p>Não vendemos, trocamos ou transferimos de outra forma para terceiros suas informações de identificação pessoal. Isso não inclui terceiros confiáveis que nos auxiliam na operação do nosso site, condução de nossos negócios, ou atendimento a você, desde que essas partes concordem em manter essas informações confidenciais.</p>
    <p>Ao usar nosso site, você concorda com nossa política de privacidade.</p>
</div>
{% endblock %}