{% extends "base.html" %}

{% block content %}
<div class="container page-content">
    <h1>Trocas e Devoluções</h1>
    <p>Na Allana Joias, sua satisfação é nossa prioridade. Se por algum motivo você não estiver completamente satisfeito(a) com sua compra, oferecemos um processo de troca e devolução simplificado.</p>
    <h2>Política de Devolução:</h2>
    <p>Você tem até 7 dias corridos a partir da data de recebimento do produto para solicitar a devolução. O produto deve estar em sua condição original, sem sinais de uso e com a embalagem intacta.</p>
    <h2>Política de Troca:</h2>
    <p>Para trocas, o prazo é de 30 dias corridos a partir da data de recebimento. A troca poderá ser feita por um produto de mesmo valor ou, se houver diferença, poderá ser pago o excedente.</p>
    <h2>Como solicitar:</h2>
    <p>Entre em contato com nossa equipe de atendimento ao cliente via e-mail ou telefone, informando o número do seu pedido e o motivo da troca ou devolução. Nossa equipe irá guiá-lo(a) pelos próximos passos.</p>
    <p>Para mais detalhes, consulte nossos Termos e Condições ou entre em contato conosco.</p>
</div>
{% endblock %}